
        <section class="relative overflow-hidden bg-neutral
          text-neutral-content">
          <span class="absolute top-0 left-1/2 -translate-x-1/2
            -translate-y-[85%] h-[50rem] md:h-[110rem] aspect-square
            bg-secondary/20 blur-3xl md:blur-[150px] rounded-full">
          </span>
          <div class="max-w-4xl px-6 py-24 mx-auto space-y-6 text-center
            md:space-y-12 sm:px-12 lg:px-20 sm:p-32 lg:p-48">
            <h2 class="text-4xl font-extrabold leading-tight sm:text-5xl
              sm:leading-tight lg:text-6xl lg:leading-tight">Unite Family and
              Culture with Storytelling Magic
            </h2>
            <p class="mx-auto text-base leading-7 text-neutral-content/90">Discover
              a heartwarming journey to your roots with WorldBabiesAI,
              nurturing bonds and preserving traditions for generations to
              cherish.
            </p>
            <button class="btn btn-primary">Discover my heritage stories
            </button>
          </div>
        </section>