<section class="max-w-5xl py-20 mx-4 sm:mx-8 sm:px-12 lg:mx-auto
          lg:px-20 sm:py-24 lg:py-28">
    <h3 class="mb-8 text-2xl font-bold leading-tight sm:text-3xl
            sm:leading-tight lg:text-4xl lg:leading-tight md:mb-12">Frequently
        Asked Questions
    </h3>
    <ul id="faq-list">
        <li>
            <button class="flex items-center w-full py-5 text-base
                font-semibold text-left border-t md:text-lg border-neutral/10" aria-expanded="false">
                <svg class="flex-shrink-0 w-4 h-4 mr-8 -ml-12 text-red-500
                  fill-current" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <rect y="7" width="16" height="2" rx="1" class="transform
                    origin-center transition duration-200 ease-out false">
                    </rect>
                    <rect y="7" width="16" height="2" rx="1" class="transform
                    origin-center rotate-90 transition duration-200 ease-out
                    false">
                    </rect>
                </svg>
                <span>What is WorldBabiesAI?
                </span>
            </button>
            <div class="overflow-hidden transition-all duration-300
                ease-in-out text-base-content" style="max-height: 0px; opacity:
                0;">
                <div class="pb-5">
                    <div class="text-base-content/90">WorldBabiesAI is a
                        thoughtfully curated physical product designed to connect
                        your child to your culture and family through the magic of
                        storytelling.
                    </div>
                </div>
            </div>
        </li>
        <li>
            <button class="flex items-center w-full py-5 text-base
                font-semibold text-left border-t md:text-lg border-neutral/10">
                <svg class="flex-shrink-0 w-4 h-4 mr-8 -ml-12 text-red-500
                  fill-current" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <rect y="7" width="16" height="2" rx="1" class="transform
                    origin-center transition duration-200 ease-out undefined">
                    </rect>
                    <rect y="7" width="16" height="2" rx="1" class="transform
                    origin-center rotate-90 transition duration-200 ease-out
                    undefined">
                    </rect>
                </svg>
                <span>How does WorldBabiesAI work?
                </span>
            </button>
            <div class="overflow-hidden transition-all duration-300
                ease-in-out text-base-content" style="max-height: 0px; opacity:
                0;">
                <div class="pb-5">
                    <div class="text-base-content/90">WorldBabiesAI contains a
                        collection of stories, activities, and keepsakes that
                        celebrate your family's unique cultural heritage, fostering
                        a deeper understanding and appreciation for your roots.
                    </div>
                </div>
            </div>
        </li>
        <li>
            <button class="flex items-center w-full py-5 text-base
                font-semibold text-left border-t md:text-lg border-neutral/10">
                <svg class="flex-shrink-0 w-4 h-4 mr-8 -ml-12 text-red-500
                  fill-current" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <rect y="7" width="16" height="2" rx="1" class="transform
                    origin-center transition duration-200 ease-out undefined">
                    </rect>
                    <rect y="7" width="16" height="2" rx="1" class="transform
                    origin-center rotate-90 transition duration-200 ease-out
                    undefined">
                    </rect>
                </svg>
                <span>What age group is WorldBabiesAI suitable for?
                </span>
            </button>
            <div class="overflow-hidden transition-all duration-300
                ease-in-out text-base-content" style="max-height: 0px; opacity:
                0;">
                <div class="pb-5">
                    <div class="text-base-content/90">WorldBabiesAI is designed
                        for children aged 4-12 years, providing age-appropriate
                        content that grows with your child as they develop a deeper
                        connection to their heritage.
                    </div>
                </div>
            </div>
        </li>
        <li>
            <button class="flex items-center w-full py-5 text-base
                font-semibold text-left border-t md:text-lg border-neutral/10">
                <svg class="flex-shrink-0 w-4 h-4 mr-8 -ml-12 text-red-500
                  fill-current" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <rect y="7" width="16" height="2" rx="1" class="transform
                    origin-center transition duration-200 ease-out undefined">
                    </rect>
                    <rect y="7" width="16" height="2" rx="1" class="transform
                    origin-center rotate-90 transition duration-200 ease-out
                    undefined">
                    </rect>
                </svg>
                <span>Can WorldBabiesAI be customized to my family's specific
                    culture and traditions?
                </span>
            </button>
            <div class="overflow-hidden transition-all duration-300
                ease-in-out text-base-content" style="max-height: 0px; opacity:
                0;">
                <div class="pb-5">
                    <div class="text-base-content/90">Yes, WorldBabiesAI can be
                        tailored to your family's unique cultural background,
                        ensuring an authentic and meaningful experience for your
                        child.
                    </div>
                </div>
            </div>
        </li>
        <li>
            <button class="flex items-center w-full py-5 text-base
                font-semibold text-left border-t md:text-lg border-neutral/10">
                <svg class="flex-shrink-0 w-4 h-4 mr-8 -ml-12 text-red-500
                  fill-current" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <rect y="7" width="16" height="2" rx="1" class="transform
                    origin-center transition duration-200 ease-out undefined">
                    </rect>
                    <rect y="7" width="16" height="2" rx="1" class="transform
                    origin-center rotate-90 transition duration-200 ease-out
                    undefined">
                    </rect>
                </svg>
                <span>How often will I receive a new WorldBabiesAI?
                </span>
            </button>
            <div class="overflow-hidden transition-all duration-300
                ease-in-out text-base-content" style="max-height: 0px; opacity:
                0;">
                <div class="pb-5">
                    <div class="text-base-content/90">You can choose to receive a
                        new WorldBabiesAI on a monthly, quarterly, or biannual
                        basis, depending on your preference and desired level of
                        engagement.
                    </div>
                </div>
            </div>
        </li>
        <li>
            <button class="flex items-center w-full py-5 text-base
                font-semibold text-left border-t md:text-lg border-neutral/10">
                <svg class="flex-shrink-0 w-4 h-4 mr-8 -ml-12 text-red-500
                  fill-current" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <rect y="7" width="16" height="2" rx="1" class="transform
                    origin-center transition duration-200 ease-out undefined">
                    </rect>
                    <rect y="7" width="16" height="2" rx="1" class="transform
                    origin-center rotate-90 transition duration-200 ease-out
                    undefined">
                    </rect>
                </svg>
                <span>Can I gift a WorldBabiesAI subscription to someone
                    else?
                </span>
            </button>
            <div class="overflow-hidden transition-all duration-300
                ease-in-out text-base-content" style="max-height: 0px; opacity:
                0;">
                <div class="pb-5">
                    <div class="text-base-content/90">Absolutely! WorldBabiesAI
                        makes a thoughtful and inspiring gift for friends and family
                        members looking to connect their children with their
                        cultural roots.
                    </div>
                </div>
            </div>
        </li>
        <li>
            <button class="flex items-center w-full py-5 text-base
                font-semibold text-left border-t md:text-lg border-neutral/10">
                <svg class="flex-shrink-0 w-4 h-4 mr-8 -ml-12 text-red-500
                  fill-current" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <rect y="7" width="16" height="2" rx="1" class="transform
                    origin-center transition duration-200 ease-out undefined">
                    </rect>
                    <rect y="7" width="16" height="2" rx="1" class="transform
                    origin-center rotate-90 transition duration-200 ease-out
                    undefined">
                    </rect>
                </svg>
                <span>How do I order a WorldBabiesAI?
                </span>
            </button>
            <div class="overflow-hidden transition-all duration-300
                ease-in-out text-base-content" style="max-height: 0px; opacity:
                0;">
                <div class="pb-5">
                    <div class="text-base-content/90">Simply visit our website,
                        choose your desired subscription plan, and provide the
                        necessary information about your family's cultural
                        background. We'll take care of the rest!
                    </div>
                </div>
            </div>
        </li>
        <li>
            <button class="flex items-center w-full py-5 text-base
                font-semibold text-left border-t md:text-lg border-neutral/10">
                <svg class="flex-shrink-0 w-4 h-4 mr-8 -ml-12 text-red-500
                  fill-current" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <rect y="7" width="16" height="2" rx="1" class="transform
                    origin-center transition duration-200 ease-out undefined">
                    </rect>
                    <rect y="7" width="16" height="2" rx="1" class="transform
                    origin-center rotate-90 transition duration-200 ease-out
                    undefined">
                    </rect>
                </svg>
                <span>What if I have more questions or need assistance with my
                    WorldBabiesAI?
                </span>
            </button>
            <div class="overflow-hidden transition-all duration-300
                ease-in-out text-base-content" style="max-height: 0px; opacity:
                0;">
                <div class="pb-5">
                    <div class="text-base-content/90">Our dedicated customer
                        support team is always available to help with any questions
                        or concerns you may have. Feel free to reach out to us via
                        email or phone for prompt assistance.
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>