{% load i18n %}
{% load static %}

<section class="flex flex-col gap-8 px-6
    py-10 mx-auto max-w-7xl lg:flex-row md:gap-16 sm:px-12 
    sm:p-14 lg:pt-18 2xl:pt-28 lg:px-8">
  <img class="object-cover w-full mx-auto rounded lg:h-full lg:max-h-[800px] lg:max-w=[500px]"
    style="max-width: 500px; max-height: 800px;" src="{% static 'images/indian_classics/grandparents.jpeg' %}"
    alt="feature 1 image">
  <div class="max-w-3xl mx-auto space-y-4 text-left md:space-y-6">
    <h1 class="text-4xl font-extrabold leading-tight sm:text-4xl
              sm:leading-tight lg:text-5xl 2xl:text-6xl lg:leading-tight">Indian classics in their grandparents' voices

    </h1>
    <p class="lg:max-w-2xl mx-auto text-base leading-7 text-lg
        text-base-content/90">
      Are you worried your children are losing touch with India’s rich cultural heritage? Do you want them to learn
      about timeless Indian classics like Ramayana and Mahabharatha from their grandparents? Let distance no longer be a
      barrier.
    </p>
    <p class="font-bold text-2xl">
      Sign up to be the first to know about us!
    </p>
    <div class="flex flex-row">
      <script async data-uid="7e401a8648" src="https://worldbabiesai.ck.page/7e401a8648/index.js"></script>
    </div>
  </div>
</section>

<section>
  <div class="flex flex-col lg:flex-row gap-4 px-8 py-20 my-20 justify-start max-w-7xl
       md:gap-8 py-12 mx-auto text-lg items-center">

       <div class="max-w-2xl space-y-4 text-left md:space-y-6 flex flex-col gap-4 mx-auto lg:mx-0">
        <p class="font-semibold text-4xl lg:text-5xl">What is WorldBabiesAI?

        </p>
        <p>
          WorldBabiesAI is on a mission to connect Indian children to their culture and grandparents using AI! We grew up
          listening to magical stories from India from our grandparents… Why should our children grow up any differently?
    
        </p>
        <p>
          We are creating an enticing collection of children's books based on stories from India. Even better, we will
          provide you a way to have these narrated by grandparents through the magic of AI!
    
        </p>
        <p>
          So everyday, your children will learn India&apos;s classic stories from their grandparents through WorldBabiesAI!
    
        </p>
       </div>
       <div class="flex flex-col gap-2 items-center justify-center">
        <img class="object-cover w-full h-full mx-auto rounded lg:max-h-[800px] lg:max-w=[500px]" style="max-width: 500px; max-height: 800px;"
          src="{% static 'images/indian_classics/book3.jpeg' %}" alt="Support image">
      </div>
  </div>

</section>


<section>
  <div class="flex flex-col lg:flex-col gap-4 px-8 py-20 my-20 justify-start max-w-7xl
       md:gap-8 py-24 m-24 mx-auto text-lg items-center"> 
       
       <p class="font-semibold text-5xl text-center">Go babies!

       </p>
       </div>
</section>

<style>
  .formkit-form {
    width: 100%;
  }
  .formkit-fields {
    gap: 10px;
  }

  .formkit-powered-by-convertkit-container a {
    display: none !important;
  }
  
  @media (min-width: 1000px) {
    .formkit-fields div, .formkit-fields button {
    max-width: 300px;
  }
  }
  
</style>